# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# TensorFlow / Keras artifacts
*.h5
*.keras
!reports/mnist_cnn_model.h5

# Reports and notebooks
*.ipynb_checkpoints/
reports/*.pdf

# Streamlit cache
.streamlit/
